body{
font-family: "Oswald", sans-serif;
 background: black;
 color: orangered;
 margin: 0px;
 margin-bottom: 100px;
}
.chamada{
background: aqua;
display: flex;
justify-content: center;
margin-top: 80px;
margin-bottom: 80px;
}
header{
 font-size: 40px;
 color: cyan;
 border-bottom: 3px solid cyan;
 padding: 20px;
}